@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Navigation Menu */

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--primary-font);
}

:root{
    --primary-font: "poppins", sans-serif;
    --primary-color: #4070f4;
    --secondary-color: #191f33;
    --yellow: #ffaf20;
    --blue: #10455B;
    --white: #ffffff;
    --black: #000000;
    --icon-clr: black;
}

nav{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    font-family: var(--primary-font);
    transition: all 0.4s ease;
    background: var(--primary-color);
    padding: 1mm;
}

nav .navbar{
    width: 90%;
    margin: auto;
    padding: 1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
   
}

nav .navbar .logo a{
    font-size: 40px;
    font-weight: 500;
    color: var(--primary-color);
}

nav .navbar .menu{
    display: flex; 
    margin-left: auto;
    margin-right: auto;
}

nav .navbar .menu li{
    margin: 0 8px;
    list-style: none;
}

.navbar .menu li a{
    font-size: 18px;
    font-size: 500;
    color: white;
}

.navbar .menu li a:hover{
    color: var(--secondary-color);
    text-decoration: underline;
    font-weight:bold;
}

.navbar .media-icons a{
    font-size: 18px;
    margin: 0 6px;
    color: var(--secondary-color);
}

/* Home Section */

.home{
    height: 100vh;
    font-weight: 100%;
    background: url("working image.jpg") no-repeat ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--primary-font);
}

.home .home-content{
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4{
    font-size: 25px;
}

h1{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    line-height: 110%;
}
h2{
    font-size: 30px;
    margin-left: 5px 0;
    font-weight: 600;
}
h3{
    font-size: 20px;
    margin: 5px 0;
}

.home .button{
    margin: 14px 0;
}

.home .button button{
    outline: none;
    color:white;
    background: #4070f4;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.4 ease;
}

.home .button button:hover{
    color: #4070f4;
    background-color: white;
    border-color: #4070f4;
    cursor: pointer;
}

/* about me section */

.about{
    background-color: var(--secondary-color);
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.about .about-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin: auto;
     letter-spacing: 1px;
}
.about .title{
    text-align: center;
    font-size: 40px;
    color:white;
    padding: 50px 0;
}

.about .about-details .header-name{
   font-size: 30px;
   display: flex;
   /* margin: 10px 100px; */
    color: white;
}

.about .about-details span{
    font-size: 20px;
    color: white;
}

.about .page-break{
    margin-bottom: 1rem;
}

.about .about-details p{
    margin-top: 1rem;
    color:white;
    width: 60%;
}

.about .button{
    margin: 14px 0;
}

.about .button button{
    outline: none;
    color:white;
    background: #4070f4;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.4 ease;
}

.about .button button:hover{
    color: #4070f4;
    background-color: white;
    border-color: #4070f4;
    cursor: pointer;
}

/* My Skill Section */

#techstack {
    background-color: #F0F8FF;
    width: 100%;
    padding: 0 7%;
    max-width: none;
    height: auto; 
}

.container-techstack {
    margin-bottom: 1rem;
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 7rem;
    margin-right: auto;
    margin-left: auto; 
}

.container-techstack .row-title {
    text-align: center;
    padding-bottom: 1rem;
}

.techstack-title .title {
    font-size: 40px;
    padding-top: 2rem;
}

.techstack-title p {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 2rem;
    color: var(--black);
    margin-bottom: 3rem;
}

.single-stack {
    border-radius: 10px;
    padding: 25px;
    transition: all 0.3s ease-out 0s;
    margin-top: 20px;
    text-align: center ;
    background: transparent;
    border: 1px solid var(--blue);
    box-shadow: -5px -5px 10px #295e74;
    
}

.single-stack:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    cursor: pointer;
    
}

.single-stack .stack-icon i {
    font-size: 60px;
    color: var(--primary-color);
    line-height: 56px;
    
}

.single-stack .stack-content {
    margin-top: 11px;
}

#stack-title {
    font-size: 22px;
    font-weight: bold;
    color: var(--secondary-color);
    
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.single-stack {
    margin-right: 15px;
}


/* Project Section */

#projects {
    padding: 1rem;
    width: 100%;
}

.bg-img{
    background: url("img.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container-projects {
    max-width: 1165px;
    width: 100%; 
    padding-right: 15px;
    padding-left: 15px; 
    margin-right: auto;
    margin-left: auto; 
    padding-bottom: 1px; 
}

.container-projects .row-title {
    text-align: center;
    padding-top: 4rem;
    padding-right: 3rem;
    padding-bottom: 4rem;
}

.projectsection-title .title {
    font-size: 40px;
    color: var(--secondary-color);
}

.project-item {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#3B82F6;
    font-size: 14px;
    color: var(--white);
    font-weight: 900;
    box-shadow: -5px -5px 10px #295e74;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
 }
  
.project-item:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }

 .project-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
 }
.project-title{
    font-size: 1.3rem;
}
.project-links {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.project-live a:hover{
    color: var(--secondary-color);
}
.project-source a:hover{
    color: var(--secondary-color);
}

.project-links a,i{
    color: var(--white);
}

.cta-more {
    display: flex;
    padding: 12px 25px;
    margin: 4rem auto;
    background-color: var(--blue);
    border: none;
    color: var(--white);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
}
.cta-more:hover{
    color: #4070f4;
    background-color: white;
    border-color: #4070f4;
    cursor: pointer;
}

/* footer section css */

.footer{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 2rem 0;
    margin-top: -1rem;
}
.footer-title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.footer-social{
    margin-bottom: 1rem;
}
.footer-icons{
    font-size: 1.5rem;
    color: white;
    margin: 0 10px;
}

/* contact section css */

.contact-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F0F8FF;
    margin: auto;
}
.contact-section .section-title{
    padding-top: 5rem;
    margin-bottom: 3rem;
    color: var(--primary-color);
    text-decoration: underline;
}
.contact-input input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 10px ;
    border-radius: 10px;
    width: 100%;
}
.textarea textarea{
    display: flex;
    padding-left: 1rem;
    border: 1.5px solid var(--black);
    width: 100%;
    resize: none;
}
.contact-section .button{
    margin: 14px ;
    display: flex;
    justify-content: center;
    
}

.contact-section .button button{
    outline: none;
    color:white;
    background: #4070f4;
    font-size: 25px;
    font-weight: 500;
    padding: 1px 16px;
    margin-bottom: 2rem;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.4 ease;
}

.contact-section .button button:hover{
    color: #4070f4;
    background-color: white;
    border-color: #4070f4;
    cursor: pointer;
}
/* blog section css */
.blog-section{
    display: flex; 
    list-style: none;
    margin: 0 5rem;
}

li{
    margin: 11rem 2rem;
}
.blg-p{
    width: 70%;
}
.blg-title{
    padding: 5px;
    color: var(--secondary-color);
}

.blg-p{
    font-size: 15px;
    color: var(--secondary-color);
    padding-bottom: 15px;
}
.blg-btn{
    outline: none;
    color:white;
    background: #4070f4;
    font-weight: 500;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.4 ease;
}
.blg-btn:hover{
    color: var(--primary-color);
    background-color: white;
    border-color: #4070f4;
    cursor: pointer;

}

/* media querry */

@media (max-width: 500px){
.navbar{
    width: 100%;
    padding: 1.2rem;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.navbar .menu {
    display: flex;
    flex-wrap: wrap;
}
.home #projects{
    padding: 20rem 0;
}
#projects{
    padding: 5rem 0;
}

.footer{
    bottom: 0;
    max-width: 500%;
    width: auto;
    display: flex;
    margin-left: 0; 
    justify-content: center;
    flex-direction: column;
}
    .blog-section{
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        width: auto;
        margin-left: 1rem;
        justify-content: center;
    }
    .blg-p{
        width: 130%;
    }
    .blg-title{
        width: 150%;
    }
    .list-first{
        display: flex;
        margin-bottom: 0;
    }
    .about .about-details p{
        /* margin-top: 1rem;
        color:white; */
        width: 90%;
    }
    .contact-section .section-title, contact-form{
        margin-top: 8rem ;
        margin-right: auto;
        margin-left:auto;
    }
    .contact-form{
        margin-right: auto;
        margin-left:auto;
    }
}